<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<!--
    The comment jumble above is handy for targeting old IE with CSS.
    http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
-->
    
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        
        <title>{% if title %}{{ title }}{% else %}Linden Mackenzie-Tolhurst{% endif %}</title>
        <link rel="stylesheet" href="/theme/css/style.css" />
        
        <!-- Please don't add "maximum-scale=1" here. It's bad for accessibility. -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <!-- Feel free to split the CSS into separate files, if you like. -->
        <link rel="stylesheet" href="/theme/css/GGS.css"/> 
        
        <!-- Here's Golden Gridlet, the grid overlay script. -->
        <script src="GGS.js"></script>
        
        <!-- 
            This script enables structural HTML5 elements in old IE.
            http://code.google.com/p/html5shim/
        -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body lang="en"><div id="body">
        
        <!-- Demo code begins -->
        
        <header>
            <div class="wrapper">
                <h1>Linden Mackenzie-Tolhurst</h1>
                <h2>
                    Try resizing your browser or viewing this page on different devices. Use the icon in the upper right corner to see an overlay of the grid.
                </h2>
            </div>
        </header>
        
        <article id="twoway">
            <section class="wrapper">
                <h3>A two-way split</h3>
                <p>
                    These two blocks of text will float side by side with some empty columns on the sides on large screens. On medium-sized screens the empty columns will disappear, and on small screens the blocks will be stacked vertically.
                </p>
            </section>
            <section class="wrapper">
                <h3>By the way</h3>
                <p>
                    If you're viewing this page on an iOS device, it might zoom in wonkily when you rotate your device. This is because of <a href="http://filamentgroup.com/examples/iosScaleBug/">a Mobile Safari bug</a>.
                </p>
            </section>
        </article>
        
        <!-- Demo code ends -->
            
    </body>
    
</html>


<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>{% if title %}{{ title }}{% else %}Linden Mackenzie-Tolhurst{% endif %}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

    {% block sidebar_block %}
    <div id="sidebar">
        {% block navigation_block %}
        <div id="navigation">
            {% block navigation %}
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/services.html">Services</a></li>
                <li><a href="/treatable-ailments.html">Treatable Ailments</a></li>
                <li><a href="/traditional-chinese-medicine/index.html">Traditional Chinese Medicine</a><ul>
                    <li><a href="/traditional-chinese-medicine/acupuncture.html">Acupuncture</a></li>
                    <li><a href="/traditional-chinese-medicine/herbal-medicine.html">Herbal Medicine</a></li>
                    <li><a href="/traditional-chinese-medicine/pcos.html"><abbr title="Polycystic Ovary Syndrome">PCOS</abbr></a></li>
                </ul></li>
            </ul>
            {% endblock %}
        </div>
        {% endblock %}
        {% block sidebar %}{% endblock %}
    </div>
    {% endblock %}

    {% block content_block %}
    <div id="content">

        {% block heading_block %}
            <div id="heading">
            {% block heading %}<h1>Page Title</h1>{% endblock %}
            </div>
        {% endblock %}

        {% block headline_block %}
            <blockquote id="headline">
            {% block headline %}
                <p>This is where you enter a few sentences to evoke emotion from the user... or something.</p>
            {% endblock %}
            </blockquote>
        {% endblock %}

    	{% block content %}Page Content{% endblock %}

    </div>
    {% endblock %}

</div></body>
