{% extends "base.html" %}

{% block content %}
<h1>Acupuncture</h1>

<p>Acupuncture is an ancient form of medicine that has been practiced in China for over 2,500 years and is now gaining popularity in the West.  Acupuncture has been shown to be effective in the treatment of many common ailments, culminating in the release of a World Health Organisation report in 2003 proving acupuncture to be a safe and effective intervention for a long list of symptoms and illnesses. (LINK? http://apps.who.int/medicinedocs/en/d/Js4926e/5.html).</p>
<p>Acupuncture involves the insertion of fine, sterile needles into specific points in the body, as required through individual diagnoses, to assist with unblocking stagnation in the body as well restoring balance to your body's normal physiological function.</p>
<p>(Link to Research of mechanisms of acupuncture?).</p>
{% endblock %}
