{% extends "base.html" %}

{% block content %}
<h1>Herbal Medicine</h1>

<p>Chinese herbal medicine is an effective and sophisticated system of medicine developed over thousands of years through empirical research - essentially one incredibly long clinical trial.  It is now being shown through evidence based research in clinical trials, to be an efficacious intervention for a wide range of health conditions with few to no side effects.</p>
<p>Herbal formulae is a prescription using a combination of up to 12 individual herbs, and,  using a nuanced understanding of the synergy between herbs in combination, to increase efficacy and balance out any possible side effects.</p>
<p>Once your diagnosis has been established, a prescription will be written and easy-to-take, convenient herbal granules, made from concentrated Chinese herbs, will be sent directly to your preferred postal address.</p>
{% endblock %}
