{% extends "index.html" %}

{% block heading %}
    <h1>Traditional Chinese Medicine</h1>
{% endblock %}

{% block headline_block %}{% endblock %}

{% block content %}
    <p>Traditional Chinese Medicine is an ancient form of medicine that has been used effectively for millennia to treat a broad range of illnesses.  Traditional Chinese medicine is a sophisticated system that integrates two major streams - acupuncture and Chinese herbal medicine - along with dietary and lifestyle advice to form a complete system of health maintenance.</p>
    <p>As the saying goes; an ounce of prevention is worth a pound of cure. The real strength of Chinese medicine lies in the prevention of illness.  We recommend regular treatments to build up your body's energy and stay healthy through the rigours of modern life.</p>
{% endblock %}
