{% extends "base.html" %}

{% block content %}
<h1>Polycystic Ovary Syndrome</h1>

<p>Polycystic Ovary Syndrome (<abbr title="Polycystic Ovary Syndrome">PCOS</abbr>) is the most common disorder or the endocrine system in women - estimated that as many as 10% of women of child-bearing age in Australia have PCOS, many of whom are undiagnosed.  PCOS is characterised by hyperandrogenism, ovulatory dysfunction and obesity.  PCOS also increases the risk of insulin resistance and type 2 diabetes. Other risks are hypertension (high blood pressure), cardiovascular disease, impaired mental health and depression.</p>
<p>Signs and symptoms include menstrual irregularities, a lack of ovulation, acne, excess hair growth on the body, male pattern hair loss, weight gain, infertility and multiple small cysts on the ovaries.</p>
<p>The cause of PCOS is unknown but there appears to be a genetic link, although the genes involved remain unidentified.</p>
<p>Treatment: Many women with PCOS require prolonged treatment. Conventional pharmacological treatment can be effective, but have adverse effects.</p>  
<p>In traditional Chinese medicine, <a href="/traditional-chinese-medicine/acupuncture.html">acupuncture</a> and <a href="/traditional-chinese-medicine/herbal-medicine.html">Chinese herbal medicine</a> work synergistically to reduce the associated pain, reduce the presence of the cysts and regulate menstrual periods by stimulating metabolism, regulating basal body temperature and improving the function of the sympathetic nervous system.</p>
<p>There is also a large body evidence showing Chinese medicine to be effective in the treatment of subfertility, a key symptom of PCOS.</p>
<p>More information can be found at; (blog post on infertility, link to PCOAA)</p>

{% endblock %}
