{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<p>Dr. Linden Mackenzie-Tolhurst MCMBA MAACMA is a Melbourne-based practitioner of Traditional Chinese Medicine (TCM), qualified in both Acupuncture and Chinese Herbal Medicine.  Linden completed a Bachelor of Health Science (Traditional Chinese Medicine) at the Southern School of Natural Therapies, and is currently a Master of Health Science (TCM) candidate at the University of Western Sydney.</p>
<p>Linden is also registered with the Chinese Medicine Board of Australia (CMBA), the gold standard for Chinese medicine practice in Australia as well as a member of the Australian Acupuncture and Chinese Medicine Association (AACMA), the premier professional association for practitioners of Chinese medicine.</p>
{% endblock %}
