{% extends "index.html" %}

{% block heading %}
    <h1>Linden Mackenzie-Tolhurst</h1>
{% endblock %}

{% block headline %}
    <p>Hey, sewer rat may taste like pumpkin pie, but I'd never know 'cause I wouldn't eat the filthy motherfucker.</p>
{% endblock %}

{% block content %}
<p>Linden Mackenzie-Tolhurst offers traditional Chinese herbal medicine and acupuncture to treat a broad range of conditions, to assist in restoring balance within your body to help you achieve better health, (drug-free?).</p>
{% endblock %}
