{% extends "base.html" %}

{% block content %}
<h1>Services</h1>

<p>Linden offers acupuncture, and associated ancillary techniques (cupping, moxa, gua sha), Chinese herbal medicine and dietary therapy to provide an overall approach to health</p>
<p>Herbal Medicine:</p>
<p>Dietary therapy:</p>
<p>Treatment - what to expect:</p>
<p>Chinese medicine treatment aims to restore your body's internal balance and promote a healthy body and state of mind.  To achieve this a full history is taken, where questions about your main complaint, as well as general questions about your health including energy, sleep, digestion, menstruation and diet are asked, and your pulse and tongue are examined in order to get an overall picture of your state of health.  Usually treatment follows with fine acupuncture needles inserted into selected points in the body.  You then have the chance to rest while the needles are retained for about 20 minutes. </p>
<p>Where required, a herbal prescription will be written to sent to a pharmacy, who will then forward your herbal formula to your preferred address.</p>
<p>Follow up appointments are generally shorter (around 45 minutes) and aim to build on the previous treatments.</p>

{% endblock %}
