{% extends "base.html" %}
{% set title = "Treatable Ailments | Linden Mackenzie-Tolhurst" %}

{% block content %}
<p>Chinese medicine is effective in the treatment of many conditions including:</p>

<ul>
    <li><strong>Musculoskeletal disorders</strong> such as back, neck and knee pain, sciatica, arthritis.</li>
    <li><strong>Acute and soft tissues sports injuries</strong> such as tennis elbow, sprained joints and wry neck.</li>
    <li><strong>Neurological disorders</strong></li>
    <li><strong>Skin disorders</strong></li>
    <li><strong>Gastrointestinal tract (GIT) disorders</strong> such as heartburn, indigestion, bloating and IBS</li>
    <li><strong>Weight loss</strong></li>
    <li><strong>Infertility</strong> including IVF support</li>
    <li><strong>Stress and stress related disorders</strong> such as anxiety, depression, headaches and insomnia.</li>
    <li><strong>Respiratory and seasonal disorders</strong> hayfever, colds and asthma.</li>
    <li><strong>Women's health</strong> including dysmenorrhea, <abbr title="Polycystic Ovary Syndrome"><a href="/traditional-chinese-medicine/pcos.html">PCOS</a></abbr>, amenorrhea and endometriosis.</li>
</ul>
{% endblock %}
